<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments :: head(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <title>User Manage Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="container">
    <div class="rows">
        <div class="col-8 offset-2">
            <nav th:replace="fragments :: navbar"></nav>
            <h1 class="text-center mt-3" th:text="#{user_manage}"></h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" th:text="#{username}"></th>
                    <th scope="col" th:text="#{status}"></th>
                    <th scope="col" th:text="#{actions}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}" th:object="${user}">
                    <td th:text="*{getUsername()}"></td>
                    <td th:text="*{getStatus()}"></td>
                    <td>
                        <a th:href="@{/admin/user_block/{id}(id=*{getId()})}" class="btn btn-warning" th:text="#{set_status}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-success" th:href="@{/}" th:text="#{back}"></a>
        </div>
    </div>
</div>

<section th:replace="fragments :: js"></section>
</body>
</html>