<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <title>Edit Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
    <div class="rows">
        <div class="col-8 offset-2">
            <nav th:replace="fragments :: navbar"></nav>
            <h1 class="text-center mt-3" th:text="#{edit}"></h1>
            <form class="mt-2" method="post" th:action="@{/todo/edit/{id}(id=*{getId()})}" th:object="${todo}">
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}">
                <div class="mb-3">
                    <label for="title" class="form-label" th:text="#{todo_title}"></label>
                    <input type="text" class="form-control" id="title" name="title"
                           th:attr="value=*{getTitle()}">
                </div>
                <div class="mb-3">
                    <label for="priority" class="form-label" th:text="#{priority}"></label>
                    <select name="priority" id="priority" class="form-select"
                            th:attr="value=*{getPriority()}">
                        <option value="low" th:text="#{prior_low}"></option>
                        <option value="medium" th:text="#{prior_med}"></option>
                        <option value="high" th:text="#{prior_high}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{edit}"></button>
            </form>
        </div>
    </div>
</div>

<section th:replace="fragments :: js"></section>
</body>
</html>