<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments :: head(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <title>All todos</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="container mt-2">
    <div class="rows">
        <div class="col-8 offset-2">
            <nav th:replace="fragments :: navbar"></nav>
            <h1 class="text-center mt-3" th:text="#{all_todos}"></h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col" th:text="#{title}"></th>
                    <th scope="col" th:text="#{priority}"></th>
                    <th scope="col" th:text="#{actions}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="todo : ${todos}" th:object="${todo}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{priority}"></td>
                    <td>
                        <a th:href="@{/todo/edit/{id}(id=*{id})}" class="btn btn-warning" th:text="#{edit}"></a> ||
                        <a th:href="@{/todo/delete/{id}(id=*{id})}" class="btn btn-danger" th:text="#{delete}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<section th:replace="fragments :: js"></section>
</body>
</html>